$web: #0fbd2b;
$social: #1f98f6;
$images: #9b5ad7;
$music: #5662f6;
$video: #f54146;
$news: #ff7800;
$shopping: #ff9900;
$title: #0064be;
$link: #14951A;
$desc: #383838;
$white: #FFF;
$transparent: 'transparent';
